@model ClientMerchantPortal.Context.TransactionDetail

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        font-weight: 100 !important;
    }
</style>

<div class="col-sm-3 col-sm-offset-2">
    <h3 style="color:#1b00ff;margin-bottom:30px"> Add Transaction</h3>
    @using (Html.BeginForm("AddTransaction", "Transaction", FormMethod.Post))
    {
<div class="container">
    <div class="form-group">
        <label> Merchant ID</label>
        @Html.TextBoxFor(x => x.MerchantID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label> Merchant Name</label>
        @Html.TextBoxFor(x => x.MerchantName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label> Invoice No</label>
        @Html.TextBoxFor(x => x.InvoiceNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label> Transaction Description</label>
        @Html.TextBoxFor(x => x.TransDescription, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label> Amount</label>
        @Html.TextBoxFor(x => x.TransAmount, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label> Payment Status</label>
        @Html.TextBoxFor(x => x.AmountStatus, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Add</button>
        <button type="reset" class="btn btn-danger"> Cancel</button>
    </div>
    



</div>
    }
</div>
<div class="col-sm-7">
    <h3 style="color:#1b00ff;margin-bottom:35px">Transaction Records</h3>
    @{
        
    }
    <div style="height:560px; border:solid thin lightgray; padding:20px">
        <table class="col-sm-12">
            <tr style="height:35px">
                <th>Transaction Id</th>
                <th>Merchant Id</th>
                <th>Merchant Name</th>
                <th>Invoice No</th>
                <th>Order Description</th>
                <th>Amount</th>
                <th>Patment Status</th>
                <th>Action</th>
            </tr>

           @*@foreach (var item in @Transationlist)

            {
                <tr style="border-top:solid thin lightgray;border-bottom:solid thin lightgray; height:35px">
                    <th>@item.TransId</th>
                    <td>@item.MerchantID</td>
                    <td>@item.MerchantName</td>
                    <td>@item.InvoiceNo</td>
                    <td>@item.TransDescription</td>
                    <td>@item.TransAmount</td>
                    @if (item.AmountStatus == false)
                    {
                        <td>Not Paid</td>
                    }
                    else
                    {
                        <td>Paid</td>
                    }

                    <td>
                        -->
                        *<a href="@Url.Action("EditTransaction",
                    new {@item.TransId,
                    @item.MerchantID,
                    @item.MerchantName,
                    @item.InvoiceNo,
                    @item.TransDescription,
                    @item.TransAmount,
                    @item.AmountStatus })" class="mr-5"><i class="far fa-pencil-alt"></i></a>
                    <a href="@Url.Action("DeleteTransaction","Transaction", new { item.TransId})" class="mr-5"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>

        }*@


        </table>
    </div>

</div>