<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RansPortal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        a {
            color: black !important;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;">
        <div class="container">

            <div class="navbar-collapse collapse" style="font-size:25px;padding: 0px 35px 0px 90px;">
                
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" style=" color: #2758c7 !important; font-weight: 600;"> Welcome to Portal</a>
                    </li>
                    <li>
                        <a href="/" class="far fa-home" data-toggle="tooltip" title="Home"></a>
                    </li>
                    <li>
                        <a href="/Transaction/Transaction" class="far fa-file-invoice-dollar" data-toggle="tooltip" title="Transaction Dashboard"></a>
                    </li>
                    <li>
                        <a href="/MerchantDetails/Merchant" class="far fa-users" data-toggle="tooltip" title="Merchant Dashboard"></a>
                    </li>

                </ul>

                <ul class="nav navbar-nav" style="float:right">
                    <li >
                        <a href="/Login/" class="far fa-sign-in-alt" data-toggle="tooltip" title="Login"></a>
                    </li>
                    <li>
                        <a href="/Client/Client" class="far fa-user-circle" data-toggle="tooltip" title="Client Info"></a>
                    </li>
                </ul>


            </div>

        </div>
    </div>
    <div class="container body-content" style="padding:30px">
        @RenderBody()
        

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
    
</body>
</html>
