<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RansPortal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;">
        <div class="container">
            
            <div class="navbar-collapse collapse" style="font-size:19px;">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home","Index", "Home")</li>
                    <li>@Html.ActionLink("Transaction", "ShowTransactions", "Transaction")</li>
                    <li>@Html.ActionLink("Add Transaction", "Transaction", "Transaction")</li>

                </ul>

                <ul class="nav navbar-nav" style="float:right">
                    <li>@Html.ActionLink("Login", "Login")</li>
                    <li>@Html.ActionLink("Client Dashboard", "Client", "Client")</li>
                </ul>


            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/ng-grid.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/font-awesome-animation.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
    <link href="~/Content/ui-grid.css" rel="stylesheet" />
</body>
</html>
